* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  font-family: "Rubik", sans-serif;
}

body {
  background-color: #00f6ff;
}

.container {
  background-color: #17181c;
  width: 60vw;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  text-align: center;
  padding: 25px 150px;
  color: white;
}

.container span {
  font-size: 8rem;
}

.container p {
  margin: 20px 0;
  line-height: 1.3;
}

.container button {
  padding: 10px 30px;
  background-color: #00f6ff;
  border-radius: 5px;
  font-size: 1rem;
  font-size: 600;
  cursor: pointer;
}
